.post-details-container {
    border: 2px solid black;
    margin: 20px 10px;
    padding: 15px;
    margin-top: 100px;
}

.post-details-container div {
    margin: 10px;
}

.post-profile-pic {
    border: 1px solid black;
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.post-user-date p {
    /* border: 1px solid red; */
    margin: 0px;
    display: flex;
    align-items: center;
}

.post-username {
    /* border: 1px solid red; */
    font-size: 24px;
    font-weight: 700;
}

.post-created {
    font-size: 12px;
}

.post-upper-details {
    /* border: 1px solid red; */
    display: flex;
}

.post-body {
    /* border: 1px solid blue; */
    font-weight: 500;
}

.post-pics {
    /* border: 1px solid green; */
    text-align: center;
}
