.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.nav-bar {
  border-bottom: 2px solid black;
  background-color: white;
  position: fixed;
  top: 0px;
  display: flex;
  padding-left: 10px;
  justify-content: space-between;
  height: 80px;
  width: 75%;
  margin-left: 10%;
}
