.sideBar {
    border-right: 2px solid black;
    /* display: grid; */
    width: 12%;
    height: 2000px;
    position: fixed;
    top: 80px;
    padding: 20px 20px;
    /* margin-left: 10% */
}

.sideBar div {
    margin: 13px 0px;
}

.sidebar-navlink i {
    /* border: 1px solid red; */
    font-weight: 700;
    margin-right: 10px;
}

.sidebar-logout {
    /* border: 1px solid red; */
    display: flex;
    font-weight: 700;
    text-align: center;
    margin: 0px 0px 10px 0px;
}

.sidebar-logout i {
    margin: 0px 12px 0px 3px;
}

.sidebar-links:hover {
    cursor: pointer;
    max-width: auto;
}

.sidebar-navlink {
    /* border: 1px solid red; */
    font-weight: 700;
    display: flex;
    align-items: center;
}

.create-post-modal button {
    background-color: black;
    border-radius: 25px;
    color: white;
    box-shadow: none;
    padding: 15px;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.create-post-button-text i {
    /* border: 1px solid red; */
    margin-right: 10px;
}

.create-post-modal button:hover {
    cursor: pointer;
}

.sidebar-login-signup {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.sidebar-login-signup button {
    /* border: 1px solid red; */
    /* margin: 0px 10px; */
    border: transparent;
    background-color: snow;
    padding: 0px;
    font-weight: 700;
    font-size: 16px;
}

.sidebar-login-signup button:hover {
    cursor: pointer;
}

.sidebar-login-signup i {
    /* border: 1px solid red; */
    padding-right: 10px;
}
