.sideBar {
    border-right: 2px solid black;
    /* display: grid; */
    width: 20%;
    height: 2000px;
    position: fixed;
    top: 80px;
    padding: 20px 20px;
}

.sideBar div {
    margin: 10px 0px;
}

.sidebar-logout-container {
    display: flex;
    gap: 10px;
}

.sidebar-logout {
    /* border: 1px solid red; */
    font-weight: 700;
    width: 65px;
    text-align: center;
    margin: 0px;
}

.sidebar-links:hover {
    cursor: pointer;
    max-width: auto;
}

.sidebar-navlink {
    /* border: 1px solid red; */
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
}

.create-post-modal button {
    background-color: black;
    border-radius: 25px;
    color: white;
    box-shadow: none;
    padding: 15px;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
}

.create-post-modal button:hover {
    cursor: pointer;
}